body{
    font-family: 'Barlow Condensed', sans-serif;
    background-color:#7E2926 ;
    font-size:24px;
    text-align:justify;
    color: #ffffff;
}

p{
    margin-top: 50px;
}

.container{
    margin: 150px auto;
}

.navbar, h2{
    font-family: 'Amatic SC', cursive;
    color:#ffffff;
}

.container .hi{
    height: 600px;
}

.container .hi .row .col-sm p{
    margin-top: 100px;
    font-size: 18px;
    text-align:justify;
}

.container a img{
    border-radius:100%;
}
.container .col-sm{
    width: 50%;
}

.container .col-sm .col .row{
    height:600px;
    width: 700px;
}
.container .col-sm .col img{
    border-radius: 15%;
    float:left;
    width: 500px;
    height:285px;
    margin-top:130px;
    margin-left: 60px;

}

.container .row{
    margin-top: 100px;
    color: #ffffff;
    font-size: 24px;
}